html, body{
    margin: 0px;
    padding: 0px;
}

td p{
    font-weight: normal;
	font-family: "Times New Roman", Times, serif;
    text-justify: inter-word;
    margin-top: 0px;
}

td{
    margin: 20px;
}

/* Las cajas que tienen los formularios */
fieldset {
    border: 3px;
	border-color: #db3c2f;
	border-radius: 10px 10px;
	border-style: outset;
}

/* Caja de datos personales */
#bloqueDatosPersonales
{
    background-color: wheat;
    
}

/* Caja de bloques de datos adicionales */
#bloqueDatosAdicionales
{
    background-color: thistle;
}

/* Lista de datos adicionales */
li{
    list-style-type: circle;
}

/* Cuando pones el ratoen encima del formluario */
input:focus 
{
	border: 2px solid #000;
    background: #ABE96E;
}


/* Boton enviar falso*/
.enlaceboton {
    font-family: verdana, arial, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    padding: 4px;
    background-color: #ffffcc;
    color: #666666;
    text-decoration: none;
    transform: scale(2,2);
    display: inline-block;
}


.enlaceboton:link,
.enlaceboton:visited {
    border-top: 1px solid #cccccc;
    border-bottom: 2px solid #666666;
    border-left: 1px solid #cccccc;
    border-right: 2px solid #666666;
}

.enlaceboton:hover {
    border-bottom: 1px solid #cccccc;
    border-top: 2px solid #666666;
    border-right: 1px solid #cccccc;
    border-left: 2px solid #666666;
}
 

footer{
    margin-left: 30px;
    margin-top: 50px;
}


/* Titulo general */
h1 {
	font-family: 'Solway', cursive;
	margin-top: 0%;
	color: #2f8ddb;
	font-weight: bold;
	font-size: 60px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 
		1px 1px 1px #383838,
		1px 2px 1px #383838,
		1px 3px 1px #383838,
		1px 4px 1px #383838,
		1px 5px 1px #383838,
		1px 6px 1px #383838,
		1px 7px 1px #383838,
		1px 8px 1px #383838,
		1px 9px 1px #383838,
		1px 10px 1px #383838,
		1px 18px 6px rgba(16,16,16,0.4),
		1px 22px 10px rgba(16,16,16,0.2),
		1px 25px 35px rgba(16,16,16,0.2),
		1px 30px 60px rgba(16,16,16,0.4);
}

body {
	padding-left: 3%;
	padding-right: 3%;
}

form{
    margin-bottom: 20px;
}

/* Titulos de los formularios */
legend{
	text-align: left;
	margin-top: 3%;
	font-family: 'Solway', cursive;
	color: #e67e22;
	font-weight: bold;
	margin-bottom: 3%;
	font-size: 30px;
	text-shadow: 
		2px 1px black,
        3px 2px black;
    padding-left: 0px;
    padding-right: 4px;
    margin-bottom: 0px;
}

/* Texto normal */
fieldset p {
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
    text-justify: inter-word;
    margin-top: 0px;
}


/* Cuando el menu esta arriba y no esta desplegado en vertical */
@media screen and (max-width: 900px) {
	h1 {
		font-size: 40px;
		text-align: center;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px #383838;
	}

	legend {
		font-size: 25px;
		text-shadow: 1px 1px 1px #383838;
	}

	
	p {
		font-weight: normal;
    }
    td{
        display: block;
    }

}

/* Cuando el menu esta arriba y esta desplegado en vertical */
@media screen and (max-width: 500px) {
	h1 {
		font-size: 30px;
		text-align: center;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px #383838;
	}

	legend{
		font-size: 20px;
		text-shadow: 1px 1px 1px #383838;
	}

	p {
		font-weight: normal;
	}

}