legend
{
    float: inline-start;
    display: inline-block;
    list-style-type: circle;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Solway', serif;
    color: mediumblue;
}

#bloqueDatosPersonales
{
    background-color: wheat;
    border-color: red;
    
}

#bloqueDatosAdicionales
{
    background-color: thistle;
    border-color: red;
}

li{
    list-style-type: circle;
}

h1::selection
{
    background: rgb(165, 9, 226);
    color: black;
    text-shadow: 1px 1px #fff;

}

h1::-moz-selection
{
    background: rgb(165, 9, 226);
    color: black;
    text-shadow: 1px 1px #fff;

}

fieldset
{
	margin: 10px;
	padding: 10px;
}

input:focus 
{
	border: 2px solid #000;
    background: #ABE96E;
}

td:first-child {
    color: green;
    
  }

  td:nth-child(2n) {
    color: blue;
    
  }

  td:last-child {
    color: red;
    
  }

  .enlaceboton {    font-family: verdana, arial, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    padding: 4px;
    background-color: #ffffcc;
    color: #666666;
    text-decoration: none;
 }
 .enlaceboton:link,
 .enlaceboton:visited {
    border-top: 1px solid #cccccc;
    border-bottom: 2px solid #666666;
    border-left: 1px solid #cccccc;
    border-right: 2px solid #666666;
 }
 .enlaceboton:hover {
     border-bottom: 1px solid #cccccc;
    border-top: 2px solid #666666;
    border-right: 1px solid #cccccc;
    border-left: 2px solid #666666;
 }
 